<section id="content" class="col-12 col-md-6 mx-auto">
    <div class="content-view">
        <section id="content">
            <div class="block flex-1 vertical-center">
                <div class="box-noresults">
                    <div class="box-icon">
                        <img src="/assets/404.png" alt="Error" class="w-75 mx-auto">
                    </div>
                    <div class="text">
                        <h1>La página que buscas no existe.</h1>
                        <p>Tal vez te has equivocado al escribirla o se ha eliminado el contenido.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>