.opacity{
    opacity: 0.2;
    z-index: 0;
}

.z-index{
    z-index: 2;
}

.slideshowBackground{
    height: 70vh;
}

#fondoPelicula{
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
}